<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <img class="card-img-top" src="<%= recipe.image %>">
                <div class="card-body">
                    
                    <h3 class="card-title d-inline"><a href="#"><%= recipe.name %></a></h3>
                    <p><h6><%= recipe.description %></h6></p>

                    <div class="d-flex justify-content-between">
                        <small class="card-title d-inline">Created by: <%= recipe.author.username %></small>
                        <small class="card-title d-inline"><%= recipe.created%></small>
                    </div>
                    

                    <h3>Ingredients:</h3>
                    <% recipe.ingredients.split("\n").forEach(ingredient => { %>
                        <p><%= ingredient %></p>
                    <% }); %>

                    <h3>Instructions:</h3>
                    <ol>
                        <% recipe.instructions.split("\n").forEach(paragraph => { %>
                            <li><%= paragraph %></li>
                        <% }); %>
                    </ol>
                </div>
                <div class="card-body bg-light">
                    <div class="text-right">
                        <p><a class="btn btn-success" href="/recipes/<%= recipe._id %>/comments/new">Add New Comment</a></p>
                    </div>
                    <hr>
                    <% recipe.comments.forEach(function(comment){ %>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex justify-content-between">
                                    <strong><%= comment.author.username %></strong>
                                    <span><%= comment.date %></span>
                                </div>
                                <p>
                                    <%= comment.text %>
                                </p>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
            
            
        </div>
        
    </div>
    
</div>


<% include ../partials/footer %>