<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <img class="card-img-top" src="<%= recipe.image %>">
                <div class="card-body">
                    
                    <h3 class="card-title d-inline"><a href="#"><%= recipe.name %></a></h3>
                    <p><h6><%= recipe.description %></h6></p>

                    <div class="d-flex justify-content-between">
                        <small class="card-title d-inline">Created by: <%= recipe.author.username %></small>
                        <small class="card-title d-inline"><%= recipe.created.getMonth() %>/<%= recipe.created.getDate() %>/<%= recipe.created.getFullYear() %></small>
                    </div>
                    

                    <h3>Ingredients:</h3>
                    <% recipe.ingredients.split("\n").forEach(ingredient => { %>
                        <p><%= ingredient %></p>
                    <% }); %>

                    <h3>Instructions:</h3>
                    <ol>
                        <% recipe.instructions.split("\n").forEach(paragraph => { %>
                            <li><%= paragraph %></li>
                        <% }); %>
                    </ol>
                    <% if(currentUser && recipe.author.id.equals(currentUser._id)) { %>
                        <a href="/recipes/<%= recipe._id %>/edit" class="btn btn-warning btn-sm">Edit</a>
                        <form class="d-inline" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                            <input class="btn btn-danger btn-sm" type="submit" value="Delete">
                        </form>
                    <% } %>
                </div>
                <div class="card-body bg-light">
                    <div class="text-right">
                        <p><a class="btn btn-success" href="/recipes/<%= recipe._id %>/comments/new">Add New Comment</a></p>
                    </div>
                    <hr>
                    <% recipe.comments.forEach(function(comment){ %>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex justify-content-between">
                                    <strong><%= comment.author.username %></strong>
                                    <span><%= comment.date.getMonth() %>/<%= comment.date.getDate() %>/<%= comment.date.getFullYear() %></span>
                                </div>
                                <p>
                                    <%= comment.text %>
                                </p>
                                <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                                    <a class="badge badge-warning" 
                                        href="/recipes/<%= recipe._id %>/comments/<%= comment._id %>/edit">
                                        Edit
                                    </a>
                                    <form class="d-inline" action="/recipes/<%= recipe._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <button class="btn badge badge-danger">Delete</button>
                                    </form>
                                <% } %>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
            
            
        </div>
        
    </div>
    
</div>


<% include ../partials/footer %>